$yellow-bg: rgba(165, 122, 25, 0.6);
$yellow: #E8B33B;

/*Roboto Google Font*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
body {
    font-family: 'Roboto', sans-serif;
    background: url(../images/bg1.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    &:before {
        position: absolute;
        background-color: $yellow-bg;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        content: '';
        width: 100%;
        height: 100%;
    }
}

.logo {
    position: absolute;
    width: 110px;
    margin: 20px;
}

.call {
    color: white;
    position: absolute;
    right: 0;
    margin-right: 20px;
    font-size: 16px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 23px;
    margin: 20px;
    cursor: pointer;
    float: right;
    transition: .3s;
    z-index: 1;
    &:hover {
        background-color: white;
        color: $yellow;
        box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.34);
    }
}

.centrador {
    padding: 10px;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: inherit;
    padding-bottom: 77px;
    .centrador2 {
        max-width: 590px;
        padding: 20px;
        .titular {
            font-size: 32px;
            font-style: italic;
            font-weight: 300;
        }
    }
}

.triangulo {
    margin-top: 10px;
    width: 35px;
    height: 35px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    color: white;
    transition: .3s;
    &:before {
        font-family: fontawesome;
        transform: rotate(-45deg);
    }
}

.icon-facebook {
    margin-right: 10px;
    &:before {
        content: "\f09a";
    }
    &:hover {
        background-color: #3b5998;
        color: white;
        text-decoration: none;
    }
}

.icon-twitter {
    margin-right: 10px;
    &:before {
        content: "\f099";
    }
    &:hover {
        background-color: #02b0e8;
        color: white;
        text-decoration: none;
    }
}

.icon-instagram {
    margin-right: 10px;
    &:before {
        content: "\f16d";
    }
    &:hover {
        background-color: #bbaa7c;
        color: white;
        text-decoration: none;
    }
}

.icon-youtube {
    margin-right: 10px;
    &:before {
        content: "\f167";
    }
    &:hover {
        background-color: #c4302a;
        color: white;
        text-decoration: none;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 5px;
}

.txt-16 {
    font-size: 16px;
}

.no-pad {
    padding: 0;
    margin: 0;
}

@media(max-width:767px) {
    .centrador .centrador2 .titular {
        font-size: 24px;
    }
}

@media(max-height: 668px) {
    .centrador {
        padding-top: 105px;
    }
}