@import "variables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

.section-3{
    background-color: $gris-1;
    color: $claro-1;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    min-height: 320px;
    display: flex;
    align-items: center;
    h2{
        font-size: 32px;
    }
    img{
        margin-bottom: 14px;
    }
    p{
        font-size: 22px;
        font-weight: 300;
    }
}
.section-4{
    border-bottom: 2px solid rgba(34, 34, 32, 0.21);
    header{
        min-height: 98px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $amarillo-1;
        h2{
            font-size: 32px;
            color: $claro-1;
            margin: 0;
        }
    }
    & > div{
        display:flex;
        flex-wrap: wrap;
        & > div{
            min-height: 514px;
            width: 50%;
            position: relative;
            padding: 20px 50px 20px 50px;
            h3{
                color: $amarillo-1;
                font-size: 28px;
                font-weight: 600;
                margin-bottom: 28px;
            }

            strong{
                font-size: 21px;
                font-weight: 600;
            }
            p{
                margin-bottom: 20px;
            }
            &.bg{
                display: flex;
                align-items: center;
                justify-content: center;
                background: center center no-repeat;
                background-size: cover;
                overflow: hidden;
                .animation{
                    position:relative;
                    & > img{
                        max-height: 312px;
                        position: relative;
                        max-width: 100%;
                    }
                    & > img + img{
                        position: absolute;
                        top: 0;
                    }   
                }
                &:before{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: $cafe-1;
                    opacity: 0.44;
                }
            }            
            &.bg-1{
                background-image: url(../images/marketing-digital.jpg);
            }
            &.bg-2{
                background-image: url(../images/desarrollo.jpg);
            }
            &.bg-3{
                clear: left;
                background-image: url(../images/diseno.jpg);
            }
        }
    }
}
.section-5{
    background-color: $claro-1;
    min-height: 633px;
    padding:15px 0 60px;
    color: $claro-1;
    text-align: center;
    header{
        padding:0 15px 45px;
        h2{
            font-size: 36px;
            color:$gris-1;
        }
        p{
            font-size: 24px;
            max-width: 700px;
            margin: auto;
            color:$gris-2;
            padding-top: 8px;
        }
    }
    .list-proyectos{
        display: flex;
        justify-content: space-around;
        & > .item-proyecto{
            border: solid 1px $claro-1; // pruebas
            cursor: pointer;
            position: relative;
            max-width: 25%;
            & > .titulo-proyecto{
                transition-duration: 0.3s;
                position: absolute;
                top:0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(34, 34, 32, 0.80);
                opacity: 0;
                font-size: 20px;
                color:$claro-1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &:hover,&:focus{
                & > .titulo-proyecto{
                    opacity: 1;
                }
            }
        }
    }
}
.section-6{
    min-height: 584px;
    position: relative;
    #mapa{
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        position: absolute;
    }
    .container{
        padding-top: 45px;
        padding-bottom: 60px;
        form{
            background-color: $gris-1;
            padding: 15px;
            border: solid $claro-1;
            border-width: 2px 2px 0 2px;
            h2{
                font-size: 26px;
                color:$amarillo-1;
                margin-bottom: 30px;
            }
            .form-control{
                font-size: 16px;
                background: none;
                color:#fff;
                &::placeholder{
                    color: #fff;
                }
            }
            .mensaje{
                display: none;
                text-align: center;
                color: #E8B33B;
                font-size: 18px;
            }
            &.enviado{
                .btn{
                    display: none;
                }
                .mensaje{
                    display: block;
                }
            }
        }
        .direccion{
            border: solid $claro-1;
            border-width: 0 2px 2px 2px;
            color:$claro-1;
            background-color: $cafe-2;
            padding: 15px;
            a{
                color: inherit;
            }
        }
    }
}

@media(max-width:1191px){
    .section-3{
        min-height: 264px;
        h2{
            font-size: 26px;
        }
        p{
            font-size: 18px;
        }
    }
    .section-4{
        header{
            min-height: 64px;
            h2{
                font-size: 26px;
            }
        }
        & > div{
            & > div{
                min-height: 400px;
                padding: 0px 20px 10px 20px;
                h3{
                    font-size: 22px;
                    margin-bottom: 18px;
                }
                strong{
                    font-size: 18px;
                }
                p{
                    font-size: 16px;
                    margin-bottom: 12px;
                }
            }
        }
    }
    .section-5{
        .list-proyectos{
            flex-wrap: wrap;
            & > .item-proyecto{
                max-width: 50%;
            }
        }
        header{
            h2{
                font-size: 26px;
            }
            p{
                font-size: 18px;
            }
        }
    }
    .section-6{

    }
}

@media(max-width:767px){
    body { 
        .btn-up{
            right: 30px;
        }
        padding-top: 75px;
        .navbar-inverse{
            .navbar-nav{
                & > li{
                    &:after{
                        bottom: 0;
                    }
                }
            }
        }
    }
    .section-3{
        min-height: 268px;
    }
    .section-4{
        & > div{
            & > div{
                width: 100%;    
                min-height: 0;
                padding: 20px 20px 0px 20px;
                &.bg{
                    display: none;
                }
            }
        }
    }
    .section-5{
        padding-bottom:0;
        .list-proyectos{
            & > .item-proyecto{
                max-width: 100%;
            }
        }
    }
    .section-6{
        #mapa{
            position: relative;
            height: 284px;
        }
        .container{
            padding:0;
            .row{
                margin:0;
                & > div{
                    padding: 0;
                    form{
                        border: none;
                    }
                    .direccion{
                        border: none;
                    }
                }
            }
        }
    }
}