@import "variables";


/*global*/
body{
    .btn-up{
        width: 40px;
        height: 40px;
        background-color: rgba(34, 34, 32, 0.64);
        color: white;
        border: 2px solid #E8B33B;
        box-shadow: rgba(0, 0, 0, 0.32) 0px 2px 4px 0px;
        font-size: 32px;
        position: fixed;
        bottom: 50px;
        right: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none !important;
        opacity: 0;
        transition-duration: .3s;
        &.visible{
            opacity: 1;
        }
    }
    .btn{
        border-radius: 0;
    }
    .form-control{
        border-radius: 0;
    }
    .btn-amarillo{
        border: $amarillo-1 solid 2px;
        color:$amarillo-1;
        transition-duration: 0.3s;
        &:hover{
            color: $claro-1;
            background-color: $amarillo-1;
        }
    }
}

@media(min-width:768px){
    body{
        .navbar-fixed-top.navbar-transparent{
            background-color: transparent;
            border: none;
            opacity: 1;
        }
    }
}
/*global*/

body { 
    font-family: 'Open Sans', sans-serif;
    .navbar-inverse{
        background-color: rgba(34, 34, 32, 0.9);
        .navbar-nav{
            & > li{
                position:relative;
                &:after{
                    position: absolute;
                    content: "";
                    background-color: $amarillo-1;
                    height: 2px;
                    left: 15px;
                    right: 15px;
                    bottom: 15px;
                    opacity: 0;
                    transition-duration: .3s;
                }
                &.active{
                    &:after{
                        opacity: 1;
                    }
                    a{
                        background:none;
                    }
                }
                &.social-links > a{
                    display: inline-block;
                    font-size: 16px;
                    .fa{
                        &.fa-instagram{
                            border-radius: 12px 12px 12px 12px;
                        }
                    }
                    &:hover, &.active{
                        .fa{
                            transition-duration: .3s;
                            &.fa-facebook-f{
                                color: #3b5999;
                            }
                            &.fa-twitter{
                                color: #55acee;
                            }
                            &.fa-youtube{
                                color: #e52d27;	
                            }
                            &.fa-instagram{
                                background: linear-gradient(45deg, rgba(249,237,50,1) 0%, rgba(239,61,115,1) 90%, rgba(238,42,123,1) 100%);
                            }
                        }
                    }
                }
            }
        }
    }
    .navbar-fixed-top{
        transition-duration: .3s;
        border: none;
        .navbar-nav > li > a{
            color:$claro-1;
        }
    }
    .navbar-brand {
        padding: 0px;
        & >img {
            height: 100%;
            padding: 15px;
            width: auto;
        }
    }
}

.section-1{
    background-image: url(/public/images/header2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 796px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:$claro-1;
    position:relative;
    &:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(72, 54, 12, 0.63);
    }
    & > div{
        text-align: center;
        position:relative;
        h1{
            font-size: 50px;
        }
        p{
            font-size: 25px;
            font-style: italic;
        } 
    }

}

@media(max-width:1191px){
    .section-1{
        min-height: 574px;
        & > div{
            h1{
                font-size: 42px;
            }
            p{
                font-size: 22px;
            }
        }
    }
}

@media(max-width:767px){
    .section-1{
        min-height: 322px;
    }
}

.section-2{
    min-height: 122px;
    padding-bottom: 15px;
    padding-top: 15px;
    display: flex;
    align-items: center;
    font-size: 20px;
    & > div{
        display: flex;
        .list-inline{
            li+li{
                &:before{
                    content: "|";
                    padding-right: 15px;
                }
            }
        }
        .btn{
            font-size: inherit;
        }
    }
}
@media(max-width:1191px){
    .section-2{
        min-height: 88px;
        font-size: 16px;
    }
}

@media(max-width:767px){
    .section-2{
        text-align: center;
        min-height: 194px;
        & > div{
            flex-direction: column;
        }
    }
}